.breaker:first-of-type{
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 10px 20px;
	}
.breaker{
	box-sizing:border-box;
	}
	
.olderNotesLink :hover span {
	color:#FED;
	}
a.olderNotesLink{
	text-decoration:none;
	}
	
p.continueRead{
	font-size:22px;
	font-weight:bolder;
	letter-spacing: 0.08em;
	color:rgba(153,102,0,1);
	padding: 10px 10px 0px 35px;
	text-transform: uppercase;
	text-decoration:none;
	}
a.continueLink{
	text-decoration:none;
	}

/*.continueLink :hover{
	color:rgba(204,153,51,1); 
	}*/
	
.continueLink:hover span.continueText { color:rgba(204,153,51,1); }	
.continueLink:hover span.continueDots { color:rgba(204,153,51,1); }	
	
span.continueDots{
	font-size:20px;
	vertical-align: 1px;
	line-height: 4px;
	letter-spacing: -0.15em;
	color:rgba(153,102,0,1);
	}
span.continueText{
	font-size:20px;
	color:rgba(153,102,0,1);
	}
	
.piece{
	position:relative;
	}
.date {
	position: absolute;
	left: 680px;
	top: 5px;
	height: 0px;
	width: 150px;
	margin: 0;
	color:#b87;
	text-align:right;
	}


/*Future changes */
.comment{
	font-size:16px;
	line-height: 18px;
	font-style: italic;
	margin: 0px 0px 0px 170px;
}

.download{
	display: block;
	margin: auto;
	text-align:center;
	width: 160px;
	height: 50px;
	background-image:url(../Pictures/ui/style-00/Download.png);
	background-size: 140px 35px;
	background-repeat:no-repeat;
	background-position:center;
		user-drag: none; 
		user-select: none;
		-moz-user-select: none;
		-webkit-user-drag: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	.download:hover{
		background-image:url(../Pictures/ui/style-00/download-hoover.png);
		}